<ion-modal-view class="modalBox">
  <!----- <ion-header-bar>

    <div class="backButtons">
      <button class="button button-clear" ng-click="closeLogin()">Back</button>
    </div>
  </ion-header-bar> ---->
  <ion-content class="notSubscriberDetail">
  <p>Rise 01.09.15</p>
      <img src="img/mag-04.jpg">

      <ul>
        <li>Experience the Mediterranean</li>
        <li>Swimming in Australia</li>
        <li>10 best hotels in the world</li>
      </ul>

  <h5>Choose contract</h5> 
  <label><input type="checkbox" checked> Contract 1</label>
  <label><input type="checkbox"> Contract 2</label>
  <label><input type="checkbox"> Contract 3</label>

  <br>

  <button class="button button-light" ng-click="closeLogin()">Cancel</button>
  <button class="button button-stable">Buy</button>

  </ion-content>
</ion-modal-view>
