


    <div class="searchTab"><!---------- searchbox start ---------->

    <!---------- searchTab start ---------->
      <div class="SearchBox">

      <div class="list list-inset">
        <label class="item item-input">
          <i class="icon ion-search placeholder-icon"></i>
          <input type="text" placeholder="Search">
        </label>
      </div>


      </div>
      <!---------- searchbox end ---------->


<div data-ng-repeat="i in 1..100">
  do something
</div>

      
      <ion-content class="magazinesContent" >
  <!-- <ion-slide-box>
  
      <ion-slide ng-repeat="m in 1..3">
     test
        <div class="color-red" >
          <a ng-repeat="magazine in magazines1 | limitTo:4:0" href="#app/detail/{{magazine.id}}"><img ng-src="img/{{magazine.cover}}"></a>
          {{i=i+4}}
        </div>
      </ion-slide>
      </ion-slide-box> -->

      <h6>Mine Magasiner</h6>


     
      <ion-slide-box> 

      <ion-slide>
      <div class="color-red">
        <a href="#app/detail/1"><img src="img/mag-04.jpg"></a>
        <a ng-click="login()"><img src="img/mag-05.jpg"></a>
        <a href="#"><img src="img/mag-03.jpg"></a>
        <a href="#"><img src="img/mag-02.jpg"></a>

      </div>  
      </ion-slide>


      <ion-slide>
      <div class="color-red">
        <a href="#app/detail/5"><img src="img/mag-01.jpg"></a>
        <a href="#app/detail/6"><img src="img/mag-02.jpg"></a>
        <a href="#app/detail/7"><img src="img/mag-03.jpg"></a>
        <a href="#app/detail/8"><img src="img/mag-02.jpg"></a>
      </div>  
      </ion-slide>
    </ion-slide-box>

      


  <h6>Andre Magasiner</h6>
    <ion-slide-box>
      
      <ion-slide>
      <div class="color-red">
        <a href="#"><img src="img/mag-01.jpg"></a>
        <a href="#"><img src="img/mag-02.jpg"></a>
        <a href="#"><img src="img/mag-03.jpg"></a>
        <a href="#"><img src="img/mag-02.jpg"></a>
      </div>  
      </ion-slide>


      <ion-slide>
      <div class="color-red">
        <a href="#"><img src="img/mag-01.jpg"></a>
        <a href="#"><img src="img/mag-02.jpg"></a>
        <a href="#"><img src="img/mag-03.jpg"></a>
        <a href="#"><img src="img/mag-02.jpg"></a>
      </div>  
      </ion-slide>



      </ion-slide-box>
      </ion-content>

      




      </div><!---------- searchTab end ---------->
  
