
<ion-view>

    <div class="searchTab"><!---------- searchbox start ---------->

    <!---------- searchTab start ---------->
      <div class="SearchBox">

      <div class="list list-inset">
        <label class="item item-input">
          <i class="icon ion-search placeholder-icon"></i>
          <input type="text" placeholder="Search">
        </label>
      </div>


      </div>
      <!---------- searchbox end ---------->




      
      <ion-content class="magazinesContent" >
  
      <h6>Reis</h6>
     <!--  <ion-slide-box> -->
  
      <ion-slide ng-repeat="n in magazines | limitTo:loopcount" ng-init='current=0;'>
      
     
        <div class="color-red"  >
          <a ng-repeat="magazine in magazines | limitTo:4:current+($index*4)"

            href="{{!(magazine.subscribed) ? '#app/detail/'+magazine.id : undefined}}"

            ng-click="(magazine.subscribed) ?undefined:undefined"
           
          ><img ng-src="{{magazine.image}}"></a>
          
        </div>
      </ion-slide>

      <!-- </ion-slide-box> -->

      <!-- <h6>Mine Magasiner</h6>
      <ion-slide-box>
 
      <ion-slide ng-repeat="n in magazines2 | limitTo:loopcount2" ng-init='current=0;'>
      
     
        <div class="color-red"  >
          <a ng-repeat="magazine in magazines2 | limitTo:4:current+($index*4)" href="#app/detail/{{magazine.id}}"><img ng-src="img/{{magazine.cover}}"></a>
          
        </div>
      </ion-slide>

      







      </ion-slide-box>



      <h6>Andre Magasiner</h6>


     
      <ion-slide-box> 

      <ion-slide>
      <div class="color-red">
        <a href="#app/detail/1"><img src="img/mag-04.jpg"></a>
        <a ng-click="login()"><img src="img/mag-05.jpg"></a>
        <a href="#"><img src="img/mag-03.jpg"></a>
        <a href="#"><img src="img/mag-02.jpg"></a>

      </div>  
      </ion-slide>


      <ion-slide>
      <div class="color-red">
        <a href="#app/detail/5"><img src="img/mag-03.jpg"></a>
        <a href="#app/detail/6"><img src="img/mag-01.jpg"></a>
        <a href="#app/detail/7"><img src="img/mag-03.jpg"></a>
        <a href="#app/detail/8"><img src="img/mag-02.jpg"></a>
      </div>  
      </ion-slide>
    </ion-slide-box>

      



  <h6>Andre Magasiner</h6>
    <ion-slide-box>
      
      <ion-slide>
      <div class="color-red">
        <a href="#"><img src="img/mag-01.jpg"></a>
        <a href="#"><img src="img/mag-02.jpg"></a>
        <a href="#"><img src="img/mag-03.jpg"></a>
        <a href="#"><img src="img/mag-02.jpg"></a>
      </div>  
      </ion-slide>


      <ion-slide>
      <div class="color-red">
        <a href="#"><img src="img/mag-01.jpg"></a>
        <a href="#"><img src="img/mag-02.jpg"></a>
        <a href="#"><img src="img/mag-03.jpg"></a>
        <a href="#"><img src="img/mag-02.jpg"></a>
      </div>  
      </ion-slide>
      </ion-slide-box>



      <h6>Andre Magasiner</h6>
    <ion-slide-box>
      
      <ion-slide>
      <div class="color-red">
        <a href="#"><img src="img/mag-03.jpg"></a>
        <a href="#"><img src="img/mag-02.jpg"></a>
        <a href="#"><img src="img/mag-03.jpg"></a>
        <a href="#"><img src="img/mag-01.jpg"></a>
      </div>  
      </ion-slide>


      <ion-slide>
      <div class="color-red">
        <a href="#"><img src="img/mag-02.jpg"></a>
        <a href="#"><img src="img/mag-03.jpg"></a>
        <a href="#"><img src="img/mag-01.jpg"></a>
        <a href="#"><img src="img/mag-02.jpg"></a>
      </div>  
      </ion-slide>
      </ion-slide-box> -->








      </ion-content>

      




      </div><!---------- searchTab end ---------->
  
