
<ion-view>
    <div class="searchTab"><!---------- searchbox start ---------->

    <!---------- searchTab start ---------->
      <div class="SearchBox">

      <div class="list list-inset">
        <label class="item item-input">
          <i class="icon ion-search placeholder-icon"></i>
          <input type="text" placeholder="Search">
        </label>
      </div>


      </div>
      <!---------- searchbox end ---------->




      
      <ion-content class="subscriptionDetail">
      <p>{{magazine.name}}</p>
      <img ng-src="{{magazine.image}}">

      <ul>
        <li>{{magazine.article}}</li>
        <li>{{magazine.issued_date}}</li>
        <li>{{magazine.introduction}}</li>
      </ul>

<a class="button button-balanced" ng-click="download({{magazine.id}})" ng-if="downloaded==false">Download Magazine</a>
<a class="button button-balanced" href="#app/openonline/{{magazine.id}}" ng-if="downloaded==false">Open Magazine</a>
<div id='status'></div>
<!-- <a class="button button-balanced" ng-click="load({{magazine.id}})">Op Magazine</a> -->
      <a class="button button-balanced" href="#app/open/{{magazine.id}}" ng-if="downloaded">Open Magazine</a>



      </ion-content>

      




      </div><!---------- searchTab end ---------->
    </ion-view>


